{% set dropdown_classes = [
  "dropdown",
    dropdown_position_x ? "dropdown-"~ {{ dropdown_position_x }},
    dropdown_position_y ? "dropdown-"~ {{ dropdown_position_y }},
    dropdown_hover ? "dropdown-hover",
] %}

{% if dropdown_details_tag %}
  <details class="dropdown">
    <summary class="m-1 btn">open or close</summary>
  {% else %}
    <div {{ attributes.addClass(dropdown_classes)}}>
      <div tabindex="0" role="button" class="btn m-1">Click</div>
    {% endif %}
    <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
      <li>
        <a href="{{ dropdown_url }}">{{ dropdown_title }}</a>
      </li>
    </ul>
    {% if dropdown_details_tag %}
    </details>
{% else %}
  </div>
{% endif %}
