{% set wrapper_classes = [
  "dropdown",
  position_x ? "dropdown-"~ position_x,
  position_y ? "dropdown-"~ position_y,
  hover ? "dropdown-hover",
] %}

{% set classes = [
  "p-2",
  "shadow",
  "menu",
  "dropdown-content",
  "z-[1]",
  "bg-base-100",
  "rounded-box",
  "w-52",
] %}

{% if details_tag %}
  <details class="dropdown dropdown-end">
    <summary class="m-1 btn btn-ghost">{{ title }}</summary>
  {% else %}
    <div {{ attributes.addClass(wrapper_classes) }}>
      <div tabindex="0" role="button" class="btn btn-sm m-1">{{ title }}</div>
{% endif %}

  <ul{{ attributes.removeClass('inline').addClass(classes) }}>
    {%- for items in links -%}
      <li{{ items.attributes }}>
          {{ items.link }}
      </li>
    {%- endfor -%}
  </ul>

{% if details_tag %}
    </details>
  {% else %}
    </div>
{% endif %}

