<div {{ attributes }}>
  <div class="calendar-sheet flex flex-col">
    <span class="year">{{ year }}</span>
    <span class="month">{{ month }}</span>
    <span class="day-of-week">{{ day_of_week }}</span>
    <span class="day-of-month">{{ day_of_month }}</span>
  </div>
</div>

