{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

<div class="page-wrapper {{ is_front ? 'frontpage' : '' }}">
  <header role="banner">
    {{ page.header }}
    {{ page.primary_menu }}
    {{ page.secondary_menu }}
  </header>

  {{ page.breadcrumb }}

  {{ page.highlighted }}

  {{ page.help }}

  <main role="main" class="lg:px-24 md:px-8 px-4 py-4 mx-auto">
    <a id="main-content" tabindex="-1"></a>
    {# link is in html.html.twig #}

    <div class="layout-content">
      {{ page.content }}
    </div>{# /.layout-content #}

    {% if page.sidebar_first %}
      <aside class="layout-sidebar-first" role="complementary">
        {{ page.sidebar_first }}
      </aside>
    {% endif %}

    {% if page.sidebar_second %}
      <aside class="layout-sidebar-second" role="complementary">
        {{ page.sidebar_second }}
      </aside>
    {% endif %}

  </main>

  <footer class="footer footer-center bg-base-200 text-base-content rounded p-10" role="contentinfo">
  <svg xmlns="http://www.w3.org/2000/svg" class="illas-cies max-w-screen-sm" viewBox="0 0 901.65428 91.690674"><defs><filter height="1.196" y="-.098" width="1.013" x="-.006" id="a" color-interpolation-filters="sRGB"><feGaussianBlur stdDeviation="2.371"/></filter></defs><path d="M5.913 25.828c.787-1.47.76-2-.1-2-.642 0 1.293-2.362 4.302-5.25 4.086-3.92 6.31-5.306 8.79-5.472 1.826-.122 4.262-1.09 5.414-2.154 3.213-2.965 9.337-5.124 14.534-5.124 4.9 0 15.06 2.556 15.06 3.79 0 .39 2.138.74 4.75.775 6.083.083 13.505 1.066 19.377 2.568 4.597 1.176 4.678 1.152 11.5-3.34 7.152-4.705 7.596-4.85 16.007-5.197 2.848-.118 6.308-.982 7.773-1.942 1.452-.95 3.192-1.64 3.867-1.532.674.107 2.027-.153 3.005-.58.98-.427 4.58-.492 8-.145 3.422.347 7.455.618 8.963.603 2.58-.027 13.3 5.02 22.258 10.48 4.62 2.813 8.302 3.2 9.16.965.33-.856 1.17-1.337 1.87-1.068.702.27 1.554.21 1.896-.133 1.075-1.077 10.71-.227 20.656 1.82l9.583 1.974 4.87-2.155c4.667-2.065 5.086-2.09 9.918-.57 5.004 1.577 9.65 2.368 18.793 3.202 2.612.238 5.993 1.076 7.513 1.862 2.397 1.24 3.127 1.24 5.496-.002 2.415-1.266 3.107-1.236 5.987.258 1.864.967 5.307 1.645 8.05 1.585 2.637-.058 7.533.77 10.88 1.84 3.348 1.068 7.04 1.978 8.206 2.02 1.166.04 3.69.642 5.61 1.335 3.305 1.193 2.934 1.29-7 1.85-5.77.325-14.14.34-18.6.03-5.516-.38-8.33-.196-8.808.575-.515.835-33.39 1.133-124.676 1.133-123.667 0-123.975-.005-122.907-2zm383.25 1.25c-18.287-.152-33.25-.65-33.25-1.108 0-1.66 3.72-4.142 6.206-4.142 1.4 0 3.108-.675 3.793-1.5s1.752-1.507 2.373-1.517c.62-.008 2.187-1.133 3.482-2.5 1.295-1.364 2.735-2.482 3.2-2.482.463 0 2.103-1.168 3.644-2.597 2.384-2.21 7.762-6.12 11.933-8.68.622-.38 2.712.38 4.644 1.69 2.775 1.884 4.588 2.327 8.634 2.11 2.817-.153 5.366.117 5.665.6.89 1.443 3.44 1.004 6.395-1.102 2.01-1.43 4.73-2.054 9.82-2.25 5.976-.23 7.392.048 9.374 1.83 3.298 2.97 5.076 3.382 7.884 1.828 3.906-2.163 7.325-1.67 14.38 2.072l6.598 3.5h15.24c12.23 0 16.615.394 22.217 1.996 3.838 1.098 10.474 2.288 14.746 2.644 4.272.356 7.767 1.108 7.767 1.67 0 .563.282.742.627.397.345-.345 2.2.03 4.122.833 3.985 1.665 8.055 1.866 11.473.566 1.592-.605 3.633-.42 6.315.573 2.18.807 4.638 1.427 5.463 1.377 10.312-.617 21 1.468 21 4.096 0 .765-97.68.817-183.75.1zm201.75-.18c0-1.33 14.382-8.07 17.222-8.07 1.308 0 2.806-.395 3.328-.88 2.055-1.9 14.815-4.54 32.45-6.713 7.214-.888 41.287-.323 43.23.717 1.086.58 2.877.82 3.98.532 1.103-.29 3.194-.024 4.647.587 1.68.707 12.857 1.194 30.643 1.336 34.82.278 33.387.232 34.812 1.126.654.41 2.305.9 3.67 1.086 1.364.187 2.757.787 3.094 1.333.337.548 1.695.733 3.018.414 1.323-.32 7.58-.73 13.905-.916 10.717-.313 11.796-.532 15.84-3.214 2.387-1.583 4.862-2.91 5.5-2.946 2.21-.127 7.166-1.74 8.443-2.747.876-.69 2.536-.596 5.246.298 3.474 1.146 4.19 1.103 5.796-.35 1.008-.913 2.212-1.66 2.675-1.66.464 0 1.666-.744 2.67-1.655 1.705-1.54 1.962-1.535 3.754.087 1.833 1.658 2.058 1.645 4.75-.267 2.665-1.892 3.312-1.935 11.326-.75 10.433 1.544 20.753 6.176 30.5 13.69 6.58 5.07 8.268 6.085 14.5 8.708 1.765.744-42.692 1.073-151.25 1.12-94.193.042-153.75-.292-153.75-.862z" opacity=".656"/><path d="M-139.2 347.097c.787 3.073.76 4.18-.1 4.18-.642 0 1.293 4.94 4.302 10.976 4.086 8.197 6.31 11.09 8.79 11.438 1.826.256 4.262 2.283 5.414 4.504 3.214 6.198 9.338 10.71 14.535 10.71 4.9 0 15.06-5.342 15.06-7.92.002-.817 2.14-1.547 4.75-1.62 6.084-.174 13.506-2.23 19.378-5.368 4.596-2.456 4.677-2.407 11.5 6.98 7.15 9.838 7.595 10.14 16.006 10.866 2.848.246 6.308 2.053 7.773 4.06 1.452 1.988 3.192 3.43 3.867 3.205.674-.225 2.027.32 3.005 1.212.978.89 4.578 1.027 8 .302 3.42-.725 7.454-1.292 8.962-1.26 2.58.055 13.3-10.496 22.258-21.905 4.62-5.882 8.303-6.694 9.16-2.02.33 1.79 1.17 2.797 1.872 2.235.7-.562 1.552-.437 1.894.277 1.076 2.25 10.712.473 20.657-3.808l9.583-4.125 4.872 4.505c4.666 4.315 5.085 4.365 9.917 1.186 5.004-3.292 9.65-4.946 18.793-6.69 2.612-.498 5.992-2.25 7.512-3.893 2.397-2.59 3.127-2.59 5.496.004 2.417 2.645 3.11 2.583 5.988-.54 1.864-2.02 5.307-3.438 8.05-3.312 2.637.12 7.533-1.61 10.88-3.845 3.348-2.236 7.04-4.136 8.207-4.224 1.166-.088 3.69-1.345 5.61-2.793 3.305-2.494 2.934-2.7-7-3.867-5.77-.68-14.14-.708-18.598-.065-5.518.795-8.333.412-8.81-1.2-.515-1.744-33.388-2.37-124.676-2.37-123.666 0-123.973.012-122.906 4.182zm383.25-2.614c-18.287.32-33.25 1.363-33.25 2.32 0 3.47 3.72 8.656 6.207 8.656 1.4 0 3.11 1.41 3.793 3.134.685 1.725 1.753 3.152 2.373 3.172.62.02 2.187 2.372 3.482 5.226 1.296 2.854 2.735 5.19 3.2 5.19.463 0 2.103 2.443 3.644 5.43 2.383 4.62 7.76 12.797 11.932 18.144.622.798 2.712-.792 4.644-3.533 2.776-3.937 4.59-4.862 8.635-4.406 2.818.318 5.367-.248 5.666-1.257.89-3.015 3.44-2.098 6.396 2.303 2.01 2.993 4.73 4.295 9.82 4.703 5.976.48 7.392-.1 9.374-3.827 3.3-6.208 5.077-7.07 7.885-3.82 3.907 4.523 7.326 3.492 14.382-4.33l6.597-7.318h15.238c12.23 0 16.616-.823 22.218-4.172 3.84-2.295 10.475-4.782 14.747-5.527 4.272-.744 7.767-2.316 7.767-3.492 0-1.175.282-1.547.627-.826.345.72 2.2-.063 4.122-1.742 3.984-3.48 8.054-3.9 11.472-1.184 1.592 1.266 3.633.88 6.315-1.197 2.18-1.686 4.638-2.982 5.463-2.88 10.312 1.292 21-3.066 21-8.56 0-1.598-97.68-1.708-183.75-.207zm201.75.378c0 2.783 14.382 16.87 17.222 16.87 1.308 0 2.806.827 3.328 1.838 2.056 3.976 14.816 9.494 32.45 14.034 7.214 1.857 41.287.677 43.23-1.497 1.086-1.215 2.877-1.715 3.98-1.113 1.103.603 3.194.05 4.648-1.227 1.678-1.476 12.856-2.495 30.642-2.79 34.82-.583 33.387-.486 34.812-2.355.654-.857 2.305-1.878 3.67-2.27 1.364-.39 2.757-1.646 3.094-2.787.338-1.142 1.696-1.53 3.02-.863 1.322.667 7.58 1.53 13.904 1.915 10.717.654 11.796 1.112 15.84 6.72 2.387 3.31 4.862 6.08 5.5 6.156 2.21.267 7.166 3.64 8.443 5.744.876 1.445 2.536 1.25 5.246-.62 3.473-2.397 4.188-2.306 5.795.733 1.008 1.907 2.212 3.468 2.675 3.468.464 0 1.666 1.556 2.672 3.46 1.703 3.22 1.96 3.21 3.752-.18 1.833-3.468 2.058-3.442 4.75.555 2.665 3.956 3.312 4.046 11.326 1.568 10.433-3.226 20.753-12.908 30.5-28.615 6.58-10.6 8.268-12.72 14.5-18.204 1.765-1.554-42.692-2.242-151.25-2.342-94.193-.086-153.75.612-153.75 1.803z" opacity=".106" filter="url(#a)" transform="translate(145.113 -315.088)"/></svg>

  <aside class="flex">
    {{ page.footer }}
      <span>www.xacobe.net</span>
      <img src="/themes/custom/icosaedrico/logo_old.png" alt="Logo">
        <span>© 2006 -2024</span>
  </aside>
  </footer>
</div>
