{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks. Use {{ content }}
 *   to print them all, or print a subset such as {{ content.page_title }}.
 *   Use {{ content|without('page_title') }} to temporarily suppress the
 *   printing of a given child element.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{% if content %}
  <div{{ attributes }}>
  {% if content.icosaedrico_breadcrumbs|render %}
    <div class="breadcrumb max-w-prose mx-auto">
      {{ content.icosaedrico_breadcrumbs }}
    </div>
  {% endif %}
   {% if content.icosaedrico_message is not empty %}
     {{ content.icosaedrico_messages }}
  {% endif %}
  {% if content.icosaedrico_help is not empty %}
    {{ content.icosaedrico_help }}
  {% endif %}
    {{ content.icosaedrico_page_title }}
    {{ content.icosaedrico_primary_local_tasks }}
    {{ content.icosaedrico_secondary_local_tasks }}
    {{ content|without(
      "icosaedrico_breadcrumbs",
      "icosaedrico_messages",
      "icosaedrico_help",
      "icosaedrico_page_title",
      "icosaedrico_primary_local_tasks",
      "icosaedrico_secondary_local_tasks"
    ) }}
  </div>
{% endif %}
