{# We compute if the URL is external in twig, so we can avoid passing a #}
{# parameter **every** time we use this component #}

{%
  set classes = [
    'btn',
    'btn--' ~ color|clean_class,
    'text-sm',
    'px-3',
    'py-1',
  ]
%}

<a href="{{ href }}" target="{{ target|default('_self')}}" title="{{ text|striptags }}" {{ attributes.addClass(classes) }}>
  {{ text }}

  {# Add button icon #}
  {% if icon is not empty %}
    {{ source(componentMetadata.path ~ '/img/' ~ icon ~ '.svg') }}
  {% endif %}
</a>
