{% stories button with { title: 'Components/Examples/Button' } %}

  {% story default with {
    name: '1. Default',
    args: { text: 'I am a hexader!', href: '/', color: 'red', icon: 'like', target: '_blank' }
  } %}
    {# Write any Twig for the "default" story. The `args` above will be made #}
    {# available as variables for the template 👇 #}
    <a href="{{ href }}" target="{{ target|default('_self')}}" title="{{ text|striptags }}" {{ attributes.addClass(classes) }}>
  {{ text }}

  {# Add button icon #}
  {% if icon is not empty %}
    {{ source(componentMetadata.path ~ '/img/' ~ icon ~ '.svg') }}
  {% endif %}
</a>
  {% endstory %}

{% endstories %}
