{% set branding_classes = [
  "branding",
  "flex",
  "items-center",
  "text-center",
  "mx-auto",
  "lg:mx-0",
  branding_shape == "square" ? "flex-col",
] %}
{% set branding_classes_logo = [
  "branding__logo",
  branding_size == "sm" ? "w-40 me-4",
] %}
{% set branding_classes_name = [
  branding_size == "sm" ? "text-25xl",
  branding_size == "lg" ? "text-25xl",
] %}
{% set branding_classes_slogan = [
  "branding__slogan",
  "mb-12",
  branding_slogan_show == false ? "hidden",
] %}


<div {{ attributes.addClass( branding_classes|safe_join(' ')) }}>
  {{ title_prefix }}
  {% if label %}
    <h2 {{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
  {% if site_logo %}
    <a href="{{ path('<front>') }}" class="{{ branding_classes_logo|safe_join(' ') }}" rel="home">
      <img src="{{ site_logo }}" alt="{{ 'Inicio'|t }}" fetchpriority="high" />
    </a>
  {% endif %}
  <div>
    {% if site_name %}
    <div class="{{ branding_classes_name|safe_join('') }} branding__title" >
      <a href="{{ path('<front>') }}" rel="home">xacobe.<span class="branding__title--suffix">net</span></a>
    </div>
    {% endif %}
    {# <div class="{{ branding_classes_slogan|safe_join(' ') }}">{{ site_slogan }}</div> #}
    <div class="{{ branding_classes_slogan|safe_join(' ') }}">
      <span class="branding__slogan--text">{{ site_slogan }}</span><span class="branding__slogan--suffix">{{ "and other stuff"|t }}</span>
    </div>
  </div>
{% endblock %}
</div>
