<div {{ attributes.addClass("branding flex items-center flex-col") }}>
  {{ title_prefix }}
  {% if label %}
    <h2 {{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
  {% if site_logo %}
    <a href="{{ path('<front>') }}" class="branding__logo" rel="home"><img src="{{ site_logo }}" alt="{{ 'Inicio'|t }}" width="150px" fetchpriority="high" /></a>
  {% endif %}
  {% if site_name %}
    <a href="{{ path('<front>') }}" class="branding__title" rel="home">xacobe.<span class="branding__title--suffix">net</span></a>
  {% endif %}
  <div class="branding__slogan">Desarrollo web</div>

<div class="block-web-technologies flex mt-12">

  {% include "icosaedrico:icon" with {
    icon_name: "html_color",
    icon_text: "HTML",
    icon_text_position: "bottom",
    icon_svg_size: "72",
    icon_svg_classes: "mx-4"
  } only %}

  {% include "icosaedrico:icon" with {
      icon_name: "css_color",
      icon_text: "CSS",
      icon_text_position: "bottom",
      icon_svg_size: "72",
      icon_svg_classes: "mx-4"
    } only %}

  {% include "icosaedrico:icon" with {
      icon_name: "js_color",
      icon_text: "JS",
      icon_text_position: "bottom",
      icon_svg_size: "72",
      icon_svg_classes: "mx-4"
    } only %}

  {% include "icosaedrico:icon" with {
      icon_name: "drupal_color",
      icon_text: "Drupal",
      icon_text_position: "bottom",
      icon_svg_size: "72",
      icon_svg_classes: "mx-4"
    } only %}
</div>
{% endblock %}
</div>
