{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see https://twig.symfony.com/doc/3.x/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      <ul {{ attributes.addClass("menu menu-horizontal px-4 text-xl") }}>
    {% else %}
      <ul {{ attributes.addClass("p-2") }}>
    {% endif %}
    {% for item in items %}
      {% set item_attributes = item.attributes|default(create_attribute()) %}
      {% set url_attributes = item.url.getOption('attributes')|default({}) %}
      {% set icon = url_attributes['data-icon']|default('') %}
      {% set show_only_icon = url_attributes['data-icon-show']|default('false') %}
      <li{{ item_attributes|without('data-icon', 'data-icon-show') }}>
        {% if icon %}
          {% if show_only_icon == 'true' %}
            {% embed 'icosaedrico:link' with {
              href: item.url,
              classes: "menu-link-icon"
            } %}
              {% block link_content %}
                {% include "icosaedrico:icon" with {
                  icon_name: icon,
                  icon_svg_classes: "bg-red",
                  icon_svg_size: "24",
                  icon_svg_fill: "black"
                } only %}
              {% endblock %}
            {% endembed %}
          {% else %}
            {% include 'icosaedrico:link' with {
              text: item.title,
              href: item.url,
              classes: item_attributes
            } only %}
          {% endif %}
        {% else %}
          {% include 'icosaedrico:link' with {
            text: item.title,
            href: item.url,
            classes: item_attributes
          } only %}
        {% endif %}
        {% if item.below %}
          {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
