{% if attributes -%}
  <div{{ attributes }}>
{% endif %}
  {% if title %}
    <h3>{{ title }}</h3>
  {% endif %}

  <{{ list.type }}{{ list.attributes }}>

    {% for row in rows %}
      <li{{ row.attributes }}>
        {# Renderizar el contenido de la fila #}
        <div class="row-content">
          {# Renderizar el campo de referencia a media directamente #}
          {% if row.content['#row']._entity.field_media %}
            {{ row.content['#row']._entity.field_media }}
          {% endif %}
        </div>
      </li>
    {% endfor %}

  </{{ list.type }}>

{% if attributes -%}
  </div>
{% endif %}








{#
/**
 * @file
 * Theme override for a view template to display a list of rows.
 *
 * Available variables:
 * - attributes: HTML attributes for the container.
 * - rows: A list of rows for this list.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's contents.
 * - title: The title of this group of rows. May be empty.
 * - list: @todo.
 *   - type: Starting tag will be either a ul or ol.
 *   - attributes: HTML attributes for the list element.
 *
 * @see template_preprocess_views_view_list()
 */
#}
<div class="flex items-center justify-between bg-white bg-gray-900 p-2">
    {% if title %}
      {% include "icosaedrico:heading" with {
        heading_title: title,
        heading_tag: "h1",
      } %}
    {% endif %}
    <button class="focus:outline-none">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-gray-600 transition-colors duration-300 transform text-gray-400 hover:text-blue-500" fill="none" viewbox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"/>
      </svg>
    </button>
  </div>
  <hr class="my-8 border-gray-200 border-gray-700">
{% embed 'icosaedrico:grid' with {
  grid_title: title,
  grid_cols: "0",
  grid_tag_item: list.type,
  grid_gap: 8
} %}

{% block grid_content %}
{{- row.content -}}
 {% endblock %}
{% endembed %}
