{% if attributes -%}
  <div{{ attributes }}>
{% endif %}
  {% if title %}
    <h3>{{ title }}</h3>
  {% endif %}

  <{{ list.type }}{{ list.attributes }}>

    {% for row in rows %}
      <li{{ row.attributes }}>
        {# Renderizar el contenido de la fila #}
        <div class="row-content">
          {# Renderizar el campo de referencia a media directamente #}
          {% if row.content['#row']._entity.field_media %}
            {{ row.content['#row']._entity.field_media }}
          {% endif %}
        </div>
      </li>
    {% endfor %}

  </{{ list.type }}>

{% if attributes -%}
  </div>
{% endif %}








{#
/**
 * @file
 * Theme override for a view template to display a list of rows.
 *
 * Available variables:
 * - attributes: HTML attributes for the container.
 * - rows: A list of rows for this list.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's contents.
 * - title: The title of this group of rows. May be empty.
 * - list: @todo.
 *   - type: Starting tag will be either a ul or ol.
 *   - attributes: HTML attributes for the list element.
 *
 * @see template_preprocess_views_view_list()
 */
#}

{% embed 'icosaedrico:grid' with {
  grid_title: title,
  grid_cols: "1",
  grid_tag_item: list.type,
  grid_gap: 8
} %}

{% block grid_content %}
{{- row.content -}}
 {% endblock %}
{% endembed %}
